<ion-header>
  <ion-toolbar>
    <ion-title>Usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-button [routerLink]="['/', 'user', 'user-form', 'new']">Cadastrar</ion-button>
  <br>
  <br>
  <p-table [value]="users" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Açôes</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user of users>
      <tr>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>
          <ion-button [routerLink]="['/', 'user', 'user-form', user.id]" fill="clear">Editar</ion-button>
          <ion-button color="danger" fill="clear" (click)="remover(user.id)">Remover</ion-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ion-content>