<ion-grid>
  <ion-row style="margin-top: 50px;">
    <ion-col>
      <ion-col style="margin-bottom: 10px;">
        <input class="inputSearch" type="number" pInputText placeholder="Latitude" [(ngModel)]="lat">
      </ion-col>
      <br>
      <ion-col>
        <input class="inputSearch" type="number" pInputText placeholder="Longetude" [(ngModel)]="long">
      </ion-col>
    </ion-col>
    <ion-col style="margin-top: 10px;">
      <ion-fab-button color="primary" (click)="save()">OK</ion-fab-button>
    </ion-col>
  </ion-row>
</ion-grid>