<ion-header>
  <ion-toolbar>
    <ion-title>Tipo de visita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-button [routerLink]="['/', 'visit-type', 'visit-type-form', 'new']">Cadastrar</ion-button>
  <br>
  <br>
  <p-table [value]="visitType" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-visitType of visitType>
      <tr>
        <td>{{visitType.name}}</td>
        <td>{{visitType.description}}</td>
        <td>
          <ion-button [routerLink]="['/', 'visit-type', 'visit-type-form', visitType.id]" fill="clear">Editar</ion-button>
          <ion-button  color="danger" fill="clear" (click)="remover(visitType.id)">Remover</ion-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ion-content>